@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Plumbing Inventory System</h1>
    <p class="lead">Keep Track of Your Jobs + Inventory In One Simple Place</p>
    <p><a href="@Url.Action("Index", "Jobs")" class="btn btn-primary btn-lg">View Jobs &raquo;</a></p>
</div>

